## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the Flutter SDK.
# On Windows: flutter.sdk=C:\\src\\flutter
# On macOS/Linux: flutter.sdk=/Users/username/flutter
flutter.sdk=/path/to/flutter/sdk

# Location of the Android SDK
# On Windows: sdk.dir=C:\\Users\\username\\AppData\\Local\\Android\\sdk
# On macOS/Linux: sdk.dir=/Users/username/Library/Android/sdk
sdk.dir=/path/to/android/sdk
